.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("/src/assets/show.png") no-repeat right center fixed;
    background-size:34%; /* Ajusta a imagem para cobrir o contêiner */
    padding:10px;
    color: #ffffff; 
    background-color: #1642c0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: white;
    margin-top: 10px;
}

.login-links {
    display: flex;
    flex-direction: column; /* Coloca os links em uma coluna, um embaixo do outro */
    align-items: center; /* Centraliza os links horizontalmente */
    gap: 10px; /* Espaço entre os links */
    margin-top: 20px; /* Espaçamento superior, se necessário */
}

.link {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Cor dos links */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold;
}
